.conteiner {
    background-color: var(--color-primary);
    background-image: url('../assets/img/bg-best-gifts.png');
    padding: 3.75rem 5.125rem;
    .best-gifts-text {
        display: grid;
        justify-content: center;
        text-align: center;
        color: var(--color-static-white);
        gap: 12px;
        margin-bottom: 20px;
    }
}