@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Allura", cursive;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1rem;
  --font-size-h4: 0.75rem;
  --font-size-p: 1rem;
  --font-size-span: 1.5rem;
  --font-size-slider: 5rem;
  --font-size-a: 0.75rem;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --line-height-h1: 1.5;
  --line-height-h2: 1.52;
  --line-height-h3: 1.52;
  --line-height-h4: 1.3;
  --line-height-p: 1.48;
  --line-height-span: 1;
  --line-height-slider: 1;
  --line-height-a: 1.3;

  --letter-spacing-h1: 3px;
  --letter-spacing-h2: 2.5px;
  --letter-spacing-h3: 1.5px;
  --letter-spacing-h4: 1px;
  --letter-spacing-span: 1px;
  --letter-spacing-a: 1.5px;
}

h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
  text-transform: uppercase;
}

h4 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
  text-transform: uppercase;
}

p {
  font-family: var(--font-primary);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-p);
}

span {
  font-family: var(--font-secondary);
  font-size: var(--font-size-span);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-span);
  letter-spacing: var(--letter-spacing-span);
}

p.slider-text {
  font-family: var(--font-primary);
  font-size: var(--font-size-slider);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

a {
  font-family: var(--font-primary);
  font-size: var(--font-size-a);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-a);
  letter-spacing: var(--letter-spacing-a);
  text-transform: uppercase;
  color: var(--dark);
  text-decoration: none;
}

ul {
  list-style: none;
}
